# Project Euler Problems #130 to #140

There are some prime values, *p*, for which there exists a positive integer, *n*, such that the expression *n*3 + *n*2*p* is a perfect cube.


For example, when *p* = 19, 83 + 82×19 = 123.


What is perhaps most surprising is that for each prime with this property the value of *n* is unique, and there are only four such primes below one-hundred.


How many primes below one million have this remarkable property?

A number consisting entirely of ones is called a repunit. We shall define R(*k*) to be a repunit of length *k*.


For example, R(10) = 1111111111 = 11×41×271×9091, and the sum of these prime factors is 9414.


Find the sum of the first forty prime factors of R(109).

A number consisting entirely of ones is called a repunit. We shall define R(k) to be a repunit of length k; for example, R(6) = 111111.


Let us consider repunits of the form R(10n).


Although R(10), R(100), or R(1000) are not divisible by 17, R(10000) is divisible by 17. Yet there is no value of n for which R(10n) will divide by 19. In fact, it is remarkable that 11, 17, 41, and 73 are the only four primes below one-hundred that can be a factor of R(10n).


Find the sum of all the primes below one-hundred thousand that will never be a factor of R(10n).


Consider the consecutive primes *p*1 = 19 and *p*2 = 23. It can be verified that 1219 is the smallest number such that the last digits are formed by *p*1 whilst also being divisible by *p*2.


In fact, with the exception of *p*1 = 3 and *p*2 = 5, for every pair of consecutive primes, *p*2 > *p*1, there exist values of *n* for which the last digits are formed by *p*1 and *n* is divisible by *p*2. Let *S* be the smallest of these values of *n*.


Find ∑ *S* for every pair of consecutive primes with 5 ≤ *p*1 ≤ 1000000.

Given the positive integers, *x*, *y*, and *z*, are consecutive terms of an arithmetic progression, the least value of the positive integer, *n*, for which the equation, *x*2 − *y*2 − *z*2 = *n*, has exactly two solutions is *n* = 27:


342 − 272 − 202 = 122 − 92 − 62 = 27


It turns out that *n* = 1155 is the least value which has exactly ten solutions.


How many values of *n* less than one million have exactly ten distinct solutions?

The positive integers, *x*, *y*, and *z*, are consecutive terms of an arithmetic progression. Given that *n* is a positive integer, the equation, *x*2 − *y*2 − *z*2 = *n*, has exactly one solution when *n* = 20:


132 − 102 − 72 = 20


In fact there are twenty-five values of *n* below one hundred for which the equation has a unique solution.


How many values of *n* less than fifty million have exactly one solution?

Consider the infinite polynomial series $A\_F(x) = x F\_1 + x^2 F\_2 + x^3 F\_3 + \dots$, where $F\_k$ is the $k$th term in the Fibonacci sequence: $1, 1, 2, 3, 5, 8, \dots$; that is, $F\_k = F\_{k-1} + F\_{k-2}$, $F\_1 = 1$ and $F\_2 = 1$.


For this problem we shall be interested in values of $x$ for which $A\_F(x)$ is a positive integer.




|  |  |
| --- | --- |
| Surprisingly | $\begin{align\*} 
A\_F(\tfrac{1}{2})
 &= (\tfrac{1}{2})\times 1 + (\tfrac{1}{2})^2\times 1 + (\tfrac{1}{2})^3\times 2 + (\tfrac{1}{2})^4\times 3 + (\tfrac{1}{2})^5\times 5 + \cdots \\ 
 &= \tfrac{1}{2} + \tfrac{1}{4} + \tfrac{2}{8} + \tfrac{3}{16} + \tfrac{5}{32} + \cdots \\
 &= 2
\end{align\*}$ |

The corresponding values of *x* for the first five natural numbers are shown below.





| $x$ | $A\_F(x)$ |
| --- | --- |
| $\sqrt{2}-1$ | 1 |
| $\tfrac{1}{2}$ | 2 |
| $\frac{\sqrt{13}-2}{3}$ | 3 |
| $\frac{\sqrt{89}-5}{8}$ | 4 |
| $\frac{\sqrt{34}-3}{5}$ | 5 |


We shall call $A\_F(x)$ a golden nugget if $x$ is rational, because they become increasingly rarer; for example, the 10th golden nugget is 74049690.


Find the 15th golden nugget.

Consider the isosceles triangle with base length, $b = 16$, and legs, $L = 17$.



![](project/images/p138.png)
By using the Pythagorean theorem it can be seen that the height of the triangle, $h = \sqrt{17^2 - 8^2} = 15$, which is one less than the base length.


With $b = 272$ and $L = 305$, we get $h = 273$, which is one more than the base length, and this is the second smallest isosceles triangle with the property that $h = b \pm 1$.


Find $\sum L$ for the twelve smallest isosceles triangles for which $h = b \pm 1$ and $b$, $L$ are positive integers.

Let (*a*, *b*, *c*) represent the three sides of a right angle triangle with integral length sides. It is possible to place four such triangles together to form a square with length *c*.


For example, (3, 4, 5) triangles can be placed together to form a 5 by 5 square with a 1 by 1 hole in the middle and it can be seen that the 5 by 5 square can be tiled with twenty-five 1 by 1 squares.



![](project/images/p139.png)
However, if (5, 12, 13) triangles were used then the hole would measure 7 by 7 and these could not be used to tile the 13 by 13 square.


Given that the perimeter of the right triangle is less than one-hundred million, how many Pythagorean triangles would allow such a tiling to take place?

Consider the infinite polynomial series $A\_G(x) = x G\_1 + x^2 G\_2 + x^3 G\_3 + \cdots$, where $G\_k$ is the $k$th term of the second order recurrence relation $G\_k = G\_{k-1} + G\_{k-2}$, $G\_1 = 1$ and $G\_2 = 4$; that is, $1, 4, 5, 9, 14, 23, \dots$ .


For this problem we shall be concerned with values of $x$ for which $A\_G(x)$ is a positive integer.


The corresponding values of $x$ for the first five natural numbers are shown below.





| $x$ | $A\_G(x)$ |
| --- | --- |
| $\frac{\sqrt{5}-1}{4}$ | 1 |
| $\tfrac{2}{5}$ | 2 |
| $\frac{\sqrt{22}-2}{6}$ | 3 |
| $\frac{\sqrt{137}-5}{14}$ | 4 |
| $\tfrac{1}{2}$ | 5 |


We shall call $A\_G(x)$ a golden nugget if $x$ is rational, because they become increasingly rarer; for example, the 20th golden nugget is 211345365.


Find the sum of the first thirty golden nuggets.